[submodule "system"]
	path = system
	url = https://github.com/morgante/habari.git
[submodule "doc"]
	path = doc
	url = https://github.com/habari/doc.git
[submodule "user/plugins/metaseo"]
	path = user/plugins/metaseo
	url = git@github.com:habari-extras/metaseo.git
