[submodule "system"]
	path = system
	url = https://github.com/morgante/habari.git
[submodule "doc"]
	path = doc
	url = https://github.com/habari/doc.git
[submodule "user/plugins/metaseo"]
	path = user/plugins/metaseo
	url = git@github.com:habari-extras/metaseo.git
[submodule "user/plugins/hbook"]
	path = user/plugins/hbook
	url = git@github.com:morgante/hbook.git
[submodule "user/plugins/habari-api"]
	path = user/plugins/habari-api
	url = git@github.com:morgante/habari-api.git
[submodule "user/plugins/socialadmin"]
	path = user/plugins/socialadmin
	url = https://github.com/morgante/socialadmin.git
[submodule "user/plugins/githubauth"]
	path = user/plugins/githubauth
	url = https://github.com/morgante/githubauth.git
[submodule "user/plugins/rabbitmq"]
	path = user/plugins/rabbitmq
	url = https://github.com/morgante/habari-rabbitmq.git
